# # Ignore the data directory
# data/
# raw/
# processed/

# # Ignore Python virtual environment folders
# venv/
# .venv/

# # Ignore Jupyter Notebook checkpoints
# .ipynb_checkpoints/

# # Ignore Python cache
# __pycache__/

# # Ignore any files with sensitive information
# *.env
# secrets.ini