# Ignore the data directory
raw/
processed/
reports/figures/

# Ignore Python virtual environment folders
venv/
.venv/
.idea/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/

# Ignore any files with sensitive information
*.env
secrets.ini